[submodule "src/rpg_davis_simulator"]
	path = src/rpg_davis_simulator
	url = https://github.com/uzh-rpg/rpg_davis_simulator.git
[submodule "src/rpg_dvs_ros"]
	path = src/rpg_dvs_ros
	url = https://github.com/uzh-rpg/rpg_dvs_ros.git
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
