  <launch>
  <!-- DVS simulator using a sequence of images -->
  <node name="" pkg="dvs_simulator_py" type="dvs_simulator.py" output="screen" required="true">
  
    <!-- Dataset parameters -->
    <param name="dataset_name" value="customDVSextend" />
    
    <!-- DAVIS parameters -->
    <param name="contrast_threshold" value="0.15" />
    
    <param name="blur_size" value="3" />
    
    <param name="event_streaming_rate" value="60.0" />
    <param name="image_streaming_rate" value="60.0" />
    
    <param name="write_to_bag" value="True" />
    
  </node>
</launch>
